*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerCarousel{
    background-color: rgba(255, 255, 255, 0.829);
    color: blue;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.carousel{
    width: 70%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.item_Carousel {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    height: 50%;
}

.image{
    display: flex;
    align-items: center;
}

.image img {
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
}

.info {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Josefin Sans";
}

.infoName{
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.infoPreco{
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}

.infoPreco:hover {
    color: rgb(153, 0, 0);
    cursor: pointer;
    transition: 0.6s;
}

.button_left{
    display: flex;
    
}
.info_btn {
    font-family: "Josefin Sans";
    border-radius: 0.5em;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.973);
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    padding: 0.1em 4em;
    box-shadow: 8px 8px 3px -2px rgb(0, 0, 0);
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.info button:hover {
    background-color: rgb(255, 255, 0);
    transition: 0.5s;
}

 .info button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}