.comprar_btn {
    font-family: "Josefin Sans";
    border-radius: 0.5em;
    font-weight: 900;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.973);
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0.1em 4em;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.comprar button:hover {
    background-color: rgb(255, 255, 0);
    transition: 0.5s;
}

 .comprar button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}